export BAK_SOURCE_FOLDER=/opt/alfresco-community/
export AZURE_CONTAINER=azure-container-name
export AZURE_ACCOUNT_NAME=azure-account-name
export AZURE_ACCOUNT_KEY=hDDelkasjdlkjl;khjglkjhlfkjhgjjjOVQ==
export PASSPHRASE=duplicityEncryptionKey
export EV_BAK_LOG_FILE=$BAK_SOURCE_FOLDER/ev_backup_log_$(date +"%F").log
export DB_NAME=alfresco
export DB_USER=alfresco
export DB_HOST=127.0.0.1
export DB_BIN_DIR=/usr/bin
export NUM_DAYS_TO_KEEP=1D
export PGPASSWORD="postgresspassword"
